.homepage-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 700px;
    justify-content: space-between;
    font-family: "Inter";
    background-color: #e9f5f6;
}
/* 
.sidebar-wrapper {
    min-width: 600px;
    flex: 2;
    display: grid;
    padding: 50px;
    padding-right: 25px;
} */

.interface-wrapper {
    flex: 5;
    display: grid;
    padding: 50px;
    padding-left: 25px;
}

.home-logout {
    position: absolute;
    bottom: 45px;
}

.interface-inner-wrapper {
    min-width: 1200px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    display: grid;
}