.bio-pics-body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    background-color: #A2E0DF;

}

.bio-pics-temp-title {
    position: absolute;
    top: 10px;
}


.bio-pics-container {
    place-self: center;
    width: 700px;
    height: 800px;
}



ul {
    columns: 3;
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    list-style-position: inside;
    list-style-type: disc;
}