.login-box-wrapper {
    margin-top: -13px;
    width: 460px;
    background-color: rgba(224, 242, 246, 0.75);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(91, 105, 135, 0.1);
    border-radius: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.bunked-logo {
    margin-top: -20px;
    max-width: 478px;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.login-register-input {
    font-size: 18px !important;
    height: 46px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    border-radius: 7px !important;
}

.submit-button {
    height: 46px;
    margin-top: 30px;
    font-size: 18px !important;
    border-radius: 7px !important;
}

.toggle-btn-wrapper {
    margin-top: 10px;
    text-align: center;
}

.toggle-btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}

h1 {
    margin-top: 13px !important;
    margin-bottom: 0.67em !important;
    font-size: 2em !important;
    display: block !important;
}

.input-name {
    margin-left: 5px
}

.input-error {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: red;
    margin-bottom: -10px;
}

.server-error-box {
    background-color: white;
    border-radius: 7px;
    border: 1px solid silver;
    padding: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: red;
}