.bio-question {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.bio-question-closed {
    display: none;
}

.bio-q-str {
    margin-bottom: 10px;
    font-size: 20px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    margin-left: -400px;
    margin-top: 20px;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    width: 400px;
}

.slider-tag-left {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}

.slider-tag-right {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}

.slider-tag-left > span {margin-right: auto}

.slider-tag-right > span {margin-left: auto}


datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.slider-reversed {
    direction: rtl;
}

