.create-bio-title {
    position: absolute;
    top: 10px;
}

.create-bio-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A2E0DF;
}

.q-wrapper {
    flex: 9;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-btn-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.bl-btn-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.br-btn-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}

.bio-error-msg {
    margin-top: 20px;
    color: red;
    font-size: 20px;
}

.bio-question-btn {
    background-color: #21AAAC;
    color: white !important;
}

#bio-skip-btn {
    margin-right: 20px;
}